@media (max-width: 600px) {
  .flex {
    display: block;
  }

  #clear {
    width: 140px !important;
    height: 30px;
    font-size: small;
    border-radius: 0.3rem;
  }

  .form-group .btn {
    background: gold;
    border: white 1px solid;
    color: black !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .img {
    background: no-repeat center center/cover;
    width: 18rem;
  }
  .container {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0;
  }
  .img {
    background: no-repeat center center/cover;
    width: 13rem;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }

  #clear {
    width: 140px !important;
    height: 30px;
    font-size: small;
    border-radius: 0.3rem;
  }

  .form-group .btn {
    background: gold;
    border: white 1px solid;
    color: black !important;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
